

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px) {
    .homeBenefitsList {
        margin-top: 80px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .homeBenefitsList .titleHomeBenefitsList {
        text-align: left;
    }

    .homeBenefitsList .container  {
        padding: 0;
    }

    .homeBenefitsList .container .row {
        margin-top: 26px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .homeBenefitsList .container .row .itemBenefitsList .iconBenefitsList {
        margin-right: 16px;
    }

    .homeBenefitsList .container .row .itemBenefitsList {
        /* padding: 16px 0; */
        border: 1px solid #ccc;
        background-color: #F5F5F5B2;
        margin-right: 1%;
        margin-left: 1%;
        text-align: left;
        padding-left: 1%;
        padding-right: 1%;
        height: 80px;
        display: flex;
        align-items: center;
    }
    .homeBenefitsList .container .row .itemBenefitsList .gridTemplateCol2 {
        display: grid;
        grid-template-columns: 10% auto;
        gap: 8px;
    }

    .homeBenefitsList .container .row .itemBenefitsList .gridTemplateCol2 .contentBenefitsList {
        text-transform: capitalize;
    }
} 