/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px) {
    .homeCategoryComponent {
        margin-top: 80px;
        margin-left: 140px;
        margin-right: 140px;
    }

    .homeCategoryComponent .container {
        margin: 0;
    }

    .homeCategoryComponent h1 {
        margin-bottom: 28px;
    }

    .homeCategoryComponent .itemHomeCategory .row .col-sm img {
        width: 100%;
    }
}